.headerLogo img {
  width: 100px !important;
  height: 60px;
}
.header {
  background: #264653;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerNav ul {
  display: flex;
  list-style: none;
}
.headerNav ul li {
  margin: 0 20px;
}
.headerNav ul li a {
  text-decoration: none;
  color: #fff;
}
